body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    padding: 8px 10%; /* 10% will be the left & right padding for elements at the edge of the page */
    justify-content: space-between;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header li {
    list-style-type: none;
}

.header a {
    text-decoration: none;
}

.header a, .hero-content {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 48px 10%;
}

.hero-container {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    padding-right: 24px;
}

.hero img {
    width: 50%;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    font-weight: bold;
    width: 150px;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border-style: solid;
}

.hero-container button {
    background: #3882F6;
    border-color: #3882F6;
    margin: 12px 0;
}

.info {
    text-align: center;
    color: rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0 64px;
}

.info-title {
    font-size: 36px;
    color: #1F2937; 
    font-weight: 900;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-card {
    width: 200px;
    font-size: small;
}

.info-card img {
    object-fit: cover;
    height: 180px;
    width: 180px;
    border: solid;
    border-color: #3882F6;
    border-width: 4px;
    border-radius: 8px;
}

.quote {
    background: #E5E7EB;
    color: #1F2937;
    line-height: 150%;
    font-size: 24px;
    padding: 64px 25%;
}

.quote-origin {
    text-align: right;
}

.cta {
    padding: 64px 20%;
    color: white; 
}

.cta-container {
    font-size: small;
    background: #3882F6;
    display: flex;
    align-items: center;
    padding: 32px 64px;
    border-radius: 8px;
    gap: 32px;
}

.cta-container div {
    white-space: pre-line;
}

/* Manually adjust height since elements take up the max length of the cross axis */
.cta button {
    background: #3882F6;
    border-color: white;
    height: 100%;
}

.footer {
    background: #1F2937;
    color: #E5E7EB;
    font-size: small;
    text-align: center;
    padding: 32px;
}